nav {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 24px;
  gap: 32px;

  font-size: 18px;
}

span a {
  color: #333333;
  opacity: 1;
  transition: 200ms;
}

span a:hover {
  opacity: 0.8;
}

span.active {
  text-decoration: underline;
}
